@model List<Cinema.Domain.DomainModels.Ticket>



<div class="container">
    
    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];
        if (i % 3 == 0)
        {
            @: <div class="row">
            }

            <div class="col m-2">
                <div class="card" style="width:18rem; height:15rem; background-color: #B1D8B7;">
                    <div class="card-body">
                        <h3 class="card-title text-center"><b>@item.Title</b></h3>
                        <p class="card-text">Date: @item.Date</p>
                        <h6>Ticket: @item.TicketPrice</h6>
                    </div>

                    <div class="card-footer">
                        <a asp-controller="Tickets" asp-action="AddTicketToCard" asp-route-id="@item.Id" class="btn btn-secondary m-3">Add to Card</a>
                        <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>

                    </div>


                </div>

            </div>

        }
</div>
</div>

